@font-face {
    font-family: "Amazon Ember";
    src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot");
    src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff") format("woff"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.svg#Amazon Ember") format("svg");
}

* {
    font-size: 100%;
    font-family: "Amazon Ember";
}

h1 {
    color: darkblue;
}

.analytics {
    margin-top: 10px;
}

#analytics-navigation {
    margin-left: 10px;
    max-width: 400px;
}

#analytics-content {
    margin-right: 10px;
}

.main-cards {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.main-card-title {
    background: #232E3D;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #232E3D;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.main-title {
    margin-bottom: 0;
}

#store-back-btn {
    margin-top: 5px;
}

#chart-title {
    margin-top: 20px;
}

#title-divider {
    margin-top: 8px;
    margin-bottom: 4px;
}

#order-status-tag {
    margin-bottom: 0;
    margin-left: 20px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    border-style: solid;
    /*border-color: orange;*/
    /*color: #ffa500;*/
    border-radius: 4px;
}

.order-product-info {
    border: 2px solid #bbbbbb;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.products-info {
    padding-left: 20px;
}

#total-value-info {
    padding-right: 20px;
}

#product-name {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #bbbbbb;
}

#shipping-card {
    padding-left: 30px;
    padding-right: 30px;
}

#shipping-title {
    background: #bbbbbb;
    border-radius: 8px;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 10px;
}

.summary-details, .shipping-details {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    border-left: 5px solid #bbbbbb;
    padding-left: 5px;
}

#proceed-button {
    font-size: 24px;
    padding: 5px 50px 5px 50px;
}

#total-value {
    border-bottom: double;
}

#address {
    font-weight: normal;
    font-size: 16px;
}

#status-label {
    color: red;
    margin-bottom: 0;
    padding-right: 0;
    padding-top: 12px;
    text-align: end;

}

#status-field {
    display: flex;
    justify-content: end;
}

#support-message {
    color: orange;
    margin-bottom: 0;
    padding-top: 8px;
    text-align: end;
}

.confirmation-warning {
    color: red;
}

#complete-message {
    color: red;
}

.small-icons {
    max-width: 20px;
    max-height: 20px;
}

#create-product {
    background: #1775FB;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
}

.input-fields {
    margin-top: 10px;
    margin-bottom: 10px;
}

.order-jump-button {
    padding: 10px 5px 10px 5px;
    background: #1775FB;
    color: white;
    border-radius: 8px;
}

.order-table {
    text-align: center;
}

.sub-title{
    margin-left: 20px;
    margin-bottom: 0;
}

.navbar {
    background: #232E3D;

}



